$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-width: 1256px;
$tablet-large-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

$side-padding: 20px;


$reserve-font-family: "Arial", sans-serif;
$main-font-family: "Roboto", $reserve-font-family;

$style-change-duration: 0.3s;
